*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    background-image: linear-gradient(to right, #426a8d, #3b5f7e, #35556f, #2f4a61, #294053);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: white;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.cardsdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cards{
    width: 130px;
    height: 200px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.cards img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    background-color: #426A8D;
    margin: 0;
    border-radius: 10px;
}