*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    background-image: linear-gradient(to right, #426a8d, #3b5f7e, #35556f, #2f4a61, #294053);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: white;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.entry{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: white;
    width: 100%;
    height: 30px;
    padding-block: 3px;
    margin-block: 10px;
    border-radius: 7px;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    border-style: solid;
}

input:focus{
    outline: none;
    border-color: rgb(214, 214, 214);
}

.favorites{
    width: 100%;
    height: 125px;
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.button{
    font-weight: 500;
    font-size: medium;
    background-color: #426a8d;
    color: white;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.checkbox-label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    color: #333;
    transition: color 0.2s ease;
    margin-block: 1px;
  }

.checkbox-label input {
    display: none;
}

.checkbox-label span {
    font-size: medium;
    font-weight: 500;
    display: inline-block;
    padding: 5px 5px;
    border: 0;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.checkbox-label input:checked + span {
    background-color: #4B79A1;
    color: #fff;
    border-color: #4B79A1;
}